body {
  background-color: black;
}

h1 {
  color: darkturquoise;
  font-family: "Playfair Display", serif;

  font-weight: bold;
}

p {
  color: aliceblue;
  font-family: "Playfair Display", serif;
  font-weight: normal;
}
.insta-logo {
  color: pink;
  width: 100%;
}

.envelope {
  color: aqua;
}
